@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-logo-container {
        width: 100%;
        justify-content: center;
    }

    .nav-bar-container {
        width: 100%;
        margin-top: 20px;
        justify-content: space-around;
    }

    .play-container {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .play-content {
        width: 100%;
        text-align: center;
    }

    .play-img {
        width: 100%;
    }

    .click-icon {
        padding-left: 240px;
    }

    .download-icon {
        padding-left: 240px;
    }

    .support-icon {
        padding-left: 240px;
    }

    .signin-btn {
        padding: 12px 15px;
        margin-top: 20px;
        padding-left: 10px;
    }

    .go-btn {
        padding: 12px 15px;
    }
    .gamer-container {
        flex-direction: column;
    }

    .gamer-image-container {
        width: 100%;
    }
    .gamer-content-container{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .gamer-title{
        font-size: 30px;
        text-align: center;
    }
    .gamer-description{
        font-size: 18px;
        text-align: center;
    }
    .purpose{
        text-align: center;
    }
    .bottom-p-2{
        font-size: 25px;
        text-align: center;
    }
    .funny-card-container{
        flex-direction: column;

    }
    .funny-title{
        font-size: 25px;
    }
    .cards-description{
        font-size: 15px;
    }
    .funny-cards{
        margin: 0 auto;
    }
    .card-img{
        width: 100%;
    }
    .download-container{
        flex-direction: column-reverse;
        
    }
    .download-img{
        width: 100%;
    }
    .pic-1{
        width: 100%;
        padding-left: 40px; 

    
    }
    .pic-2{
        width: 180px;
        height: 180px;
        top: 300px;
        left: 0%;

    }
    .download-description{
        font-size: 18px;
    }








}

@media screen and (max-width: 425px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-logo-container {
        width: 100%;
        justify-content: center;
    }

    .logo-title {
        font-size: 25px;
    }

    .nav-bar-container {
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }

    .nav-bar-container a {
        margin-top: 20px;
        font-size: 14px;
    }

    .btn-primary {
        width: 100%;
        color: #3C354F;
        font-size: 14px;
        text-align: center;
    }

    .play-container {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .play-content {
        width: 100%;
    }

    .play-img {
        width: 100%;
    }

    .play-title {
        font-size: 25px;
    }

    .play-description {
        font-size: 12px;
    }

    .play-name {
        font-size: 30px;
        ;

    }

    .click-icon {
        padding-left: 100px
    }

    .download-icon {
        padding-left: 100px
    }

    .support-icon {
        padding-left: 100px
    }

    .signin-btn {
        padding: 12px 15px;
        margin-top: 20px;
        padding-left: 10px;
    }

    .go-btn {
        padding: 12px 15px;
    }

    .gamer-container {
        flex-direction: column;
    }

    .gamer-image-container {
        width: 100%;
    }
    .gamer-content-container{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .gamer-title{
        font-size: 25px;
        text-align: center;
    }
    .gamer-description{
        font-size: 13px;
        text-align: center;
    }
    .purpose{
        text-align: center;
    }
    .bottom-p-2{
        font-size: 20px;
        text-align: center;
    }
    .funny-card-container{
        flex-direction: column;

    }
    .funny-title{
        font-size: 25px;
    }
    .cards-description{
        font-size: 15px;
    }
    .funny-cards{
        margin: 0 auto;
    }
    .download-container{
        flex-direction: column-reverse;
    }
    .download-description{
        font-size: 14px;
        }
        

    .download-img{
        width: 100%;
    }
    .pic-1{
        width: 100%;
        padding-left: 40px; 

    
    }
    .pic-2{
        width: 180px;
        height: 180px;
        top: 300px;
        left: 0%;

    }


}