*{
    box-sizing: border-box;
}
/*nav style start here*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans&family=Work+Sans:wght@400;500;700;800&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {
    max-width: 1140px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    min-height: 130px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    width: 70px;
    height: 35px;
}

.nav-logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    object-fit: cover;
    gap: 20px;
}

.logo-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.nav-logo-containe,
span {
    color: #FF42A5;
}

.nav-bar-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar-container a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.btn-primary{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 20px 25px;
    text-align: center;
    border: none;
    font-size: 18px;
    color: #3C354F;
}
.youtube{
    width: 50px;
    height: 40px;
    margin-left: 10px;
    color: red;
}
.tiktok{
    width: 34px;
    height: 24px;
    margin-left: 10px;
    color: #000000;
}