* {
    box-sizing: border-box;
}

/*nav style start here*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans&family=Work+Sans:wght@400;500;700;800&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {
    max-width: 1140px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    min-height: 130px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    width: 70px;
    height: 35px;
}

.nav-logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    object-fit: cover;
    gap: 20px;
}

.logo-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
}

.nav-logo-containe,
span {
    color: #FF42A5;
}

.nav-bar-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar-container a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.btn-primary {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 20px 25px;
    text-align: center;
    border: none;
    font-size: 18px;
    color: #3C354F;
}

.youtube {
    width: 50px;
    height: 40px;
    margin-left: 10px;
    color: red;
}

.tiktok {
    width: 34px;
    height: 24px;
    margin-left: 10px;
    color: #000000;
}

/*nav section end here/*
/*play section start here*/
.play-container {
    max-width: 1140px;
    background-color: #FFF;
    margin: 20px auto;
    display: flex;
    align-items: center;
    padding: 80px;
    gap: 40px;
}

.play-content {
    width: 50%;
    background-color: #FFF;
}

.play-img {
    width: 50%;
}

.play-pic {
    width: 100%;
    height: 100%;
}

.play-title {
    color: #0B0223;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.play-name {
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5px;
    margin-bottom: 5px;
}

.click-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.download-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.support-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.player {
    color: #FF42A5;

}

.download {
    color: #FF42A;
}

.support {
    color: black;
}

.signin-btn {
    border-radius: 22px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 21px;
    border: none;
}

.go-btn {
    padding: 16px 21px;
    gap: 10px;
    border-radius: 22px;
    background: #4EC5F7;
    border: none;
    color: #FFf;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 20px;
}

.play-description {
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

/*gamer style start here*/
.gamer-container {
    max-width: 1140px;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    padding: 40px;
    gap: 30px;
    justify-content: center;
    text-align: center;
}

.gamer-image-container {
    width: 50%;
}

.gamer-img {
    width: 100%;
}

.gamer-content-container {
    width: 50%;
    text-align: right;
}

.gamer-title {
    text-align: right;
    font-size: 35px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
}

.gamer-description {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 400;
}

.gamer-btn {
    padding: 15px 30px;
    border-radius: 48px;
    border: none;
    background-color: #FF42A5;
    color: white;
}

.bottom-p-2 {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    color: #534C64;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0px;
}

.purpose {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
    color: #534C64;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}

/*funny card start here*/
.funny-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}

.black-font {
    color: #0B0223;
}

.funny-description {
    color: #534C64;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 40px;
}

.funny-card-container {
    max-width: 1140px;
    min-height: 200px;
    display: flex;
    gap: 20px;
    margin: 0px auto;
}

.card-img {
    width: 260px;
}

.cards-description {
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
}

/*download styles start here*/
.download-container {
    max-width: 1140px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 50px auto;
    padding: 50px;
}

.download-content {
    width: 50%;
    padding: 30px;
}

.pic-1 {
    width: 100%;
    height: 400px;
}

.pic-2 {
    height: 220px;
    width: 200px;
    position: absolute;
    top: 260px;
    left: 55%;
}


.download-img {
    width: 50%;

}

.download-heading {
    color: #FF42A5;
    font-weight: 700px;
    font-size: 40px;
    margin-bottom: 0px;
}

.download-title {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.download-description {
    font-size: 16px;
    margin-top: 5px;
    color: #5a5763;
}

.download-content {
    width: 100%;
    padding: 0px;
    text-align: center;
}

/*grid section styles start*/
.wrap-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.column {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 200px;
}
.title{
    font-size: 12px;
    font-weight: 400px;
}
/*section end here*/
footer{
    background-color: #0B0223;
    margin-top: 50px;

}
.footer-logo-div,.blur{
    color: white;
}
.ami{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.footer-image{
    width: 70px;
    height: 35px;
}
.footer-title{
    font-size: 45px;
}
